body {
    margin: 0;
    font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}

/* ----------------- FOR TOP NAVBAR ----------------- */

header{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* margin: 0px auto; */
}

#navbar {
    width: 80vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.left-logo {
    display: flex;
    align-items: center;
    margin-left: 47px;
}

.right-nav {
    margin-right: 47px;
    display: flex;
    align-items: center; 
}

.logo-icon {
    width: 40px;
    height: 40px;
}

.nav-items {
    text-decoration: none;
    color: black;
    /* font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif; */
    margin-right: 15px;
    font-size: 17px;
    font-weight: 500;
    /* line-height: 50px; */
}

.nav-items:last-of-type {
    margin-right: 0;
}

.nav-items:hover {
    border-bottom: 3px solid #228AE5;
    border-radius: 1%;
}

/* ----------------- END TOP NAVBAR ----------------- */

/* ----------------- FOR MAIN SECTION ----------------- */

main {
    margin: 16px;
    text-align: left;
    padding-top: 2%;
    padding-right: 4%;
    padding-left: 4%;
}

#form-sec {
    display: inline-block;
    width: 45%;
    margin-right: 16px;
    margin-bottom: 50px;
}

.white-block {
    height: 150px;
}

#form-sec > h1 {
    /* font-family: Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif; */
    background: -webkit-linear-gradient(81.84deg , #0099ff -9.4%, #a033ff 51.57%, #ff5280 84.07%, #ff7061 90.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    /* font-weight: 450; */
    letter-spacing: -2px;
    line-height: 82px;
    margin: 0;
}

.p-comment {
    font-size: 20px;
}

.text-input {
    width: 70%;
    padding: 10px;
    background-color: rgba(193, 193, 193, 0.3);
    border: none;
    outline: none;
    border-radius: 15px;
    margin-bottom: 16px;
}

.text-input:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.text-input:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.log-in-btn {
    background-color: #0084FF;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 25px;
    color: white;
    font-weight: 450;
    margin-right: 16px;
}

.forget-password {
    font-size: 14px;
}

.log-in-btn {
    margin-bottom: 15px;
}

.d-btn {
    height: 44px;
    width: auto;
    margin-right: 24px;
    margin-bottom: 50px;
}

.btn-link {
    text-decoration: none;
}

aside {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

aside > .msg-img {
    width: 100%;
    
}

/* ----------------- END MAIN SECTION ----------------- */

/* ----------------- FOR FOOTER SECTION ----------------- */

.copyright-div {
    display: inline-block;
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 14px;
}

.span-bold {
    font-weight: 700;
}

.footer-link {
    color: black;
    text-decoration: none;
}

.img-footer {
    display: inline-block;
}

/* ----------------- END FOOTER SECTION ----------------- */

/* ----------------- FOR VIEWPORTS ----------------- */

@media screen and (max-width: 600px) {

    #navbar {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .right-nav > a {
        font-size: 10px;
        margin-right: 5px;
    }

    main {
        margin: 0;
        padding: 4% 4%;
    }

    #form-sec {
        display: block;
        width: 100%;
        text-align: center;
    }

    .white-block {
        display: none;
    }

    #form-sec > h1 {
        font-size: 50px;
    }

    #form-sec > p {
        font-size: 12px;
        margin-right: 5px;
    }

    .download-div > a {
        display: block;
        margin: 0;
    }
    
    aside {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    footer {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-link {
        display: block;
    }
    
    .img-footer {
        display: block;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    #navbar {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .right-nav > a {
        font-size: 14px;
        margin-right: 5px;
    }

    main {
        margin: 0;
        padding: 4% 4%;
    }

    #form-sec {
        display: block;
        width: 100%;
        text-align: center;
    }

    .white-block {
        display: none;
    }

    #form-sec > h1 {
        font-size: 50px;
    }

    #form-sec > p {
        font-size: 12px;
        margin-right: 5px;
    }

    .download-div > a {
        display: block;
        margin: 0;
    }
    
    aside {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    footer {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-link {
        display: block;
    }
    
    .img-footer {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #navbar {
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .right-nav > a {
        font-size: 17px;
        margin-right: 5px;
    }

    main {
        margin: 0;
        padding: 4% 4%;
    }

    #form-sec {
        display: block;
        width: 100%;
        text-align: center;
    }

    .white-block {
        display: none;
    }

    #form-sec > h1 {
        font-size: 50px;
    }

    #form-sec > p {
        font-size: 12px;
        margin-right: 5px;
    }

    .download-div > a {
        display: block;
        margin: 0;
    }
    
    aside {
        display: block;
        margin: 0 auto;
        width: 80%;
    }

    footer {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-link {
        display: block;
    }
    
    .img-footer {
        display: block;
    }
}

@media screen and (max-width: 1370px) and (min-width: 992px) {
    #navbar {
        width: 80vw;
    }

    #form-sec {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1370px) {
    #navbar {
        width: 85vw;
    }

    #form-sec {
        margin-left: 110px;
        width: 40%;
    }

    aside {
        width: 50%;
    }
}